<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190540014192-lbtmuln6ajq4rtricen1odc8k003thap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190540014192-lbtmuln6ajq4rtricen1odc8k003thap</string>
	<key>API_KEY</key>
	<string>AIzaSyBwvVqn8NDnC2Mp36hpG0aZekOW2gUnlok</string>
	<key>GCM_SENDER_ID</key>
	<string>190540014192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testingfirebase</string>
	<key>PROJECT_ID</key>
	<string>fir-testing-ab0ee</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-testing-ab0ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190540014192:ios:b15c61b0bf4102767d4ab5</string>
</dict>
</plist>